<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Profile/style.css') }}">
    <title>PETTSTORE</title>
</head>

<body>
<div class="wrapper">
    {% extends 'Base/index.html' %}
    {% block content %}

    <div class="content">
        <div class='cart cart--empty'>
            <h2>
                Вы авторизованы! <span>🫡</span>
            </h2>
            <img src='static/Profile/assets/cat.png' alt='Empty cart'/>
            <div to='/' class='button button--black'>
                <a href="{{ url_for('delete_session') }}" ><span>Выйти</span></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>

</html>