<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Registration/style.css') }}">
    <title>PETTSTORE</title>
</head>

<body>
<div class="wrapper">
    {% extends 'Base/index.html' %}
    {% block content %}
    <form action="{{ url_for('signup') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="reg">
            <h1>Регистрация</h1>
             {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h5>{{ message }}</h5>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {{ form.email.label }}
            {{ form.email(type="email", placeholder="Введите email") }}
            {{ form.password.label }}
            {{ form.password(type="password", placeholder="Введите пароль") }}

            {{ form.submit(type="submit", class="button reg_button") }}
            <a href="{{ url_for('signin') }}">У меня уже есть аккаунт</a>
        </div>
    </form>
</div>

{% endblock %}
</body>

</html>